**/__pycache__
**/*_cache
**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.vscode
**/Dockerfile
**/.gitlab-ci.yml
**/.editorconfig
**/tests
**/Makefile
**/htmlcov
**/.codeclimate.yml
**/.gitpod.yml
**/.gitpod-vscode-settings.json
**/.markdownlint.yaml
**/.pre-commit-config.yaml
**/coverage.xml
**/junit.xml
