bumpversion~=0.5.3
wheel~=0.32.1
tox~=3.5.2
Sphinx~=1.8.1
Click~=7.0
flake8==3.5.0
pytest~=5.3.1
cookiecutter~=1.6.0
sphinx-rtd-theme~=0.4.3

# support for resumable files to simulate resumable.js
resumable==0.1.1  # https://github.com/acroz/resumable.py

# yaml support 
PyYAML==5.3  # https://pypi.org/project/PyYAML/#description 

# dotenv support
python-dotenv
